<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEoWJWXwMl8bpkf_XOn7xjPueWg-nPo9A</string>
	<key>GCM_SENDER_ID</key>
	<string>357665662689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vetapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>thevetapp-9b5be</string>
	<key>STORAGE_BUCKET</key>
	<string>thevetapp-9b5be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357665662689:ios:982e5fd2413565cb0c79a0</string>
</dict>
</plist>